* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  background-color: white;
  border: 1px solid none;
  margin-top: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li:first-child {
  font-size: 21px;
  font-weight: bolder;
  padding-right: 10px;
}

nav ul li:nth-child(2),
nav ul li:nth-child(3),
nav ul li:nth-child(4),
nav ul li:nth-child(5),
nav ul li:nth-child(6),
nav ul li:nth-child(7) {
  margin-right: 55px;
  padding-top: 5px;
  font-size: 15px;
}

.icon {
  height: 20px;
  width: 20px;
  margin-left: 10%;
  padding-left: 50px;
  margin-right: 20px;
}

main {
  display: flex;
  margin-top: 30px;
  margin-left: 300px;
  margin-right: 50px;
  padding-right: 50px;
}

.container1 {
  margin-right: 10%;
  padding-right: 80px;
}

.container1 > p {
  font-size: 15px;
  margin-top: 50px;
  font-weight: bolder;
}

.container1 > h1 {
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
}

.container1 > i {
  font-weight: 700;
}

.container1 > button,
.container6 > button {
  border: 2px solid black;
  border-radius: 1px 15px;
  padding: 10px 30px;
  background-color: white;
}

aside {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background-color: none;
  border-radius: 38%;
  padding-right: 5px;
}

.container2 > img {
  width: 500px;
  height: 500px;
  border: 1px solid none;
  border-radius: 38%;
  margin-left: -100px;
  box-shadow: #000;
  position: absolute;
  top: 75px;
  right: 13%;
  bottom: 95%;
  z-index: 1;
  box-shadow: 12px 12px 2px 1px rgb(22, 21, 21, 0.1);
}

header {
  background-color: black;
  width: 90vw;
  height: 90vh;
  border-radius: 8px;
  border-left: 40px solid rgba(196, 190, 190, 0.336);
  border-right: 40px solid rgba(196, 190, 190, 0.336);
  margin: auto;
  margin-bottom: 90px;
  margin-top: 40px;
}

#container3 {
  padding-top: 40px;
}

#container3 > p,
h2,
ul {
  padding-left: 60px;
  margin: auto;
  margin-left: 1px;
}

#container3 > p {
  font-size: 7px;
  letter-spacing: 0.0001pt;
  color: black;
  font-weight: bolder;
  padding-bottom: 10px;
}

#container3 > h2 {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  stroke-width: 5px;
  color: black;
}

#container3 > pre {
  position: absolute;
  left: 80%;
  top: 90%;
}

.icon2 {
  height: 20px;
  width: 20px;
  position: relative;
}

#container3 > ul {
  list-style: none;
  margin-left: 1px;
}

#container3 > ul li:first-child {
  text-decoration: underline;
  text-underline-offset: 5px;
  font-weight: bold;
  padding-top: 40px;
}

#container3 > ul li:nth-child(2),
#container3 > ul li:nth-child(3) {
  padding-top: 20px;
}

.container4 > img:first-child {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 120%;
  right: 35%;
  bottom: 40%;
  left: 68%;
  box-shadow: 12px 10px 1px 1px rgba(77, 77, 138, 0.1);
}

.container4 > img:nth-child(2) {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 110%;
  right: 50%;
  box-shadow: 12px 10px 1px 1px rgba(77, 77, 138, 0.1);
}

.container4 > img:nth-child(3) {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 50%;
  top: 160%;
  box-shadow: 12px 10px 1px 1px rgba(77, 77, 138, 0.1);
}

.container5 {
  background-color: rgb(44, 43, 43);
  border: 1px solid none;
  border-radius: 1px;
  width: 150px;
  height: 70px;
  position: absolute;
  top: 115%;
  right: 10%;
}

.container5 > p {
  color: white;
  font-size: 11px;
  margin: auto;
  padding-top: 10px;
  padding-left: 10px;
}

.container5 > p:first-child {
  font-size: 10px;
}

.container5 > p:nth-child(2) {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}

.container5 > ul {
  list-style: none;
}

.container5 > ul li:first-child {
  text-decoration: line-through;
  color: rgb(240, 138, 138);
  position: absolute;
  top: 43px;
  font-size: 12px;
}

section {
  width: 90vw;
  height: 90vh;
  background-color: black;

  background-size: cover;
  border: 1px solid white;
  border-radius: 8px;
  border-left: 40px solid rgba(196, 190, 190, 0.336);
  border-right: 40px solid rgba(196, 190, 190, 0.336);
  margin: auto;
  background-position: center;
}

.container6 {
  text-align: center;
  background-color: transparent;
  padding: 10px;
  color: white;
}

.container6 > h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: 400;
}

.container6 > button {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 10px;
  padding: 10px 20px;
}

.container7 {
  width: fit-content;
  height: 50px;
  background-color: rgb(66, 64, 64);
  position: relative;
  display: flex;
  padding-left: 70px;
  padding-right: 90px;
}

.container7 > h4 {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  padding-top: 100px;
  color: white;
}

.container7 > p {
  padding-left: 50px;
  font-size: 15px;
  justify-items: centre;
  padding-top: 100px;
  color: white;
}

.newsletter {
  text-align: center;
}

.newsletter > h4 {
  color: black;
  font-size: 40px;
  font-weight: 500;
  padding-top: 10px;
}

.newsletter > p {
  color: black;
  font-size: 20px;
  font-weight: 300;
}

input[type="email"] {
  margin-top: 60px;
  width: 600px;
  height: 40px;
  border: 2px solid black;
  border-radius: 1px 1px 1px 10px;
  background-color: white;
  text-align: left;
  padding-left: 10px;
  font-size: 10px;
}

input[type="button"] {
  width: 100px;
  height: 40px;
  border: 2px solid black;
  border-radius: 1px 20px 1px 1px;
  background-color: black;
  text-align: center;
  font-size: 10px;
  color: white;
}

.newsletter > .p2 {
  text-align: left;
  margin-top: 20px;
  font-size: 10px;
  margin-left: 24%;
  margin-bottom: 100px;
}

footer {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: black;
  border: 1px solid black;
  border-radius: 1px;
  color: white;
}

.cont {
  margin-top: 75px;
  background-color: black;
  color: white;
  margin-left: auto;
}

.cont > h5{
  font-size: 30px;
  letter-spacing: 10px;
}

.cont > h5 + p{
  letter-spacing: 4.8px;
  padding-bottom: 30px;
}

.cont > h5 + p + p{
  padding-bottom: 50px;
}

.cont > svg {
  height: max-content;
  width: 20px;
  fill: white;
  position: relative;
  top: 5px;
}

.cont > span {
  white-space: nowrap;
  padding-left: 20px;
  
}

table {
  margin: auto;
  border-spacing: 25px;
  margin-right: auto;

}

th {
  font-weight: 900;
  font-size: 20px;
}

td {
  font-weight: 600;
}
